<div id="sidebar" style="OVERFLOW-Y: auto; OVERFLOW-X:hidden;height:500px;">
    <ul>
        <el-menu class="el-menu-vertical-demo" theme="dark">
            <el-submenu index="1" title="{{menu.name}}" *ngFor="let menu of menuItems">
                <el-menu-item index="1-1" to="/workspace/{{child.route}}" *ngFor="let child of menu.child">{{child.name}}</el-menu-item>
            </el-submenu>
        </el-menu>
        <!-- <li class="submenu"> 
            <a href="javascript:;">
                <i class="el-icon-document"></i> 
                <span class="menu1_name">业务处理</span> 
                
            </a>
            <ul>
                <li><a class="menu_a" href="javascript:;" routerLink="/workspace"><i class="fa fa-caret-right"></i>身份信息认证</a></li>
                <li><a class="menu_a" href="javascript:;" routerLink="withdraw"><i class="fa fa-caret-right"></i>用户提现</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="javascript:;">
                <i class="fa fa-tv"></i> 
                <span class="menu1_name">管理中心</span> 
                
            </a>
            <ul>
                <li><a class="menu_a" href="javascript:;" routerLink="recharge"><i class="fa fa-caret-right"></i>后台充值</a></li>
                <li><a class="menu_a" href="javascript:;" routerLink="systemmessage"><i class="fa fa-caret-right"></i>系统消息</a></li>
                <li><a class="menu_a" href="javascript:;" routerLink="assestmanager"><i class="fa fa-caret-right"></i>用户资产管理</a></li>
            </ul>
        </li>
        <li class="submenu"> 
            <a href="javascript:;">
                <i class="fa fa-cog"></i> 
                <span class="menu1_name">系统配置</span> 
                
            </a>
            <ul>
                <li><a class="menu_a" href="javascript:;" routerLink="menuconfig"><i class="fa fa-caret-right"></i>菜单配置</a></li>
                <li><a class="menu_a" href="javascript:;" routerLink="authorityconfig"><i class="fa fa-caret-right"></i>权限配置</a></li>
                <li><a class="menu_a" href="javascript:;" routerLink="roleconfig"><i class="fa fa-caret-right"></i>角色配置</a></li>
                <li><a class="menu_a" href="javascript:;" routerLink="userconfig"><i class="fa fa-caret-right"></i>用户配置</a></li>
                <li><a class="menu_a" href="javascript:;" routerLink="currencyconfig"><i class="fa fa-caret-right"></i>货币配置</a></li>
                <li><a class="menu_a" href="javascript:;" routerLink="marketconfig"><i class="fa fa-caret-right"></i>市场配置</a></li>
            </ul>
        </li>
        <li class="submenu"> 
            <a href="javascript:;">
                <i class="el-icon-search"></i> 
                <span class="menu1_name">查询中心</span> 
                
            </a>
            <ul>
                <li><a class="menu_a" href="javascript:;" routerLink="withdrawhistory"><i class="fa fa-caret-right"></i>用户提现记录</a></li>
                <li><a class="menu_a" href="javascript:;" routerLink="verificationhistory"><i class="fa fa-caret-right"></i>身份信息认证记录</a></li>
                <li><a class="menu_a" href="javascript:;" link="error405.html"><i class="fa fa-caret-right"></i>用户登录记录</a></li>
            </ul>
        </li>   
        <li class="submenu"> 
            <a href="javascript:;">
                <i class="el-icon-view"></i> 
                <span class="menu1_name">监控中心</span> 
                
            </a>
            <ul>
                <li><a class="menu_a" href="javascript:;" link="error404.html"><i class="fa fa-caret-right"></i>数据监控</a></li>
                <li><a class="menu_a" href="javascript:;" link="error405.html"><i class="fa fa-caret-right"></i>服务器监控</a></li>
            </ul>
        </li> -->
    </ul>
</div>