<div id="content-header">
    <div id="breadcrumb">
        <a routerLink="/workspace" title="回首页" class="tip-bottom">
            <i class="fa fa-home"></i> 首页</a>
        <a href="javascript:;" class="tip-bottom">管理中心</a>
        <a href="javascript:;" class="tip-bottom">后台充值</a>
    </div>
</div>

<div id="iframe-main" frameborder='0' style="width:100%;">
    <div id="content-header">
        <h1></h1>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="fa fa-th"></i>
                        </span>
                        <h5>后台充值</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="row row-form">
                            <div class="col-xs-2 col-label col-label-edit">
                                用户邮箱
                            </div>
                            <div class="col-xs-3 col-content">
                                <input type="text" name="email" [(ngModel)]="email" class="form-control" />
                            </div>
                            <div class="col-xs-2 col-label col-label-edit">
                                充值货币
                            </div>
                            <div class="col-xs-3 col-content">
                                <input type="text" name="currency" [(ngModel)]="currency" class="form-control" />
                            </div>
                        </div>
                        <div class="row row-form">
                            <div class="col-xs-2 col-label col-label-edit">
                                充值金额
                            </div>
                            <div class="col-xs-3 col-content">
                                <input type="text" name="count" [(ngModel)]="count" class="form-control" />
                            </div>
                        </div>
                        <div class="row row-form text-center">
                            <el-button type="primary" (click)="toggle = true">充值</el-button>
                            <el-button>取消</el-button>
                        </div>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="dataTables_length">
                            <label>
                                每页显示
                                <select name="pageSize" class="form-control input-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="75">75</option>
                                    <option value="100">100</option>
                                </select> 条记录
                            </label>
                        </div>
                        <table class="table table-bordered table-striped table-nobtn">
                            <thead>
                                <tr>
                                    <th width="50px">序号</th>
                                    <th>充值账户</th>
                                    <th>充值货币</th>
                                    <th>充值金额</th>
                                    <th>充值时间</th>
                                    <th>操作人</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX">
                                    <td>1</td>
                                    <td>1961455515@qq.com</td>
                                    <td>BTC</td>
                                    <td>0.5</td>
                                    <td>2018-04-04 20:33:30</td>
                                    <td>admin</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>2</td>
                                    <td>1961455515@qq.com</td>
                                    <td>BTC</td>
                                    <td>0.5</td>
                                    <td>2018-04-04 20:33:30</td>
                                    <td>admin</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>3</td>
                                    <td>1961455515@qq.com</td>
                                    <td>BTC</td>
                                    <td>0.5</td>
                                    <td>2018-04-04 20:33:30</td>
                                    <td>admin</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>4</td>
                                    <td>1961455515@qq.com</td>
                                    <td>BTC</td>
                                    <td>0.5</td>
                                    <td>2018-04-04 20:33:30</td>
                                    <td>admin</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="fg-toolbar pagination-bottom">
                        <div class="col-xs-12">
                            <el-pagination [total]="500" [layout]="['prev', 'pager', 'next', 'jumper', 'total']" (modelChange)="sizeChange($event)">
                            </el-pagination>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<el-dialog [(visible)]="toggle" [width]="10" [el-class]="'min-dialog'">
    <ng-template #title>
        <span>
            <i class="el-icon-warning"></i>系统消息</span>
    </ng-template>
    <span>确认给用户：1961455515@qq.com 充值 0.5BTC ？</span>
    <ng-template #footer>
        <el-button type="primary" (click)="recharge()">确认</el-button>
        <el-button (click)="toggle = false">取消</el-button>
    </ng-template>
</el-dialog>