<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">身份信息认证</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row row-form">
                        <div class="col-xs-4 col-label">
                            信息认证类型
                        </div>
                        <div class="col-xs-6 col-content">
                            中国大陆地区
                        </div>
                    </div>
                    <div class="row row-form">
                        <div class="col-xs-4 col-label">
                            姓氏
                        </div>
                        <div class="col-xs-6 col-content">
                            杜
                        </div>
                    </div>
                    <div class="row row-form">
                        <div class="col-xs-4 col-label">
                            名字
                        </div>
                        <div class="col-xs-6 col-content">
                            鹏
                        </div>
                    </div>

                    <div class="row row-form">
                        <div class="col-xs-4 col-label">
                            本人身份证正面照片
                        </div>
                        <div class="col-xs-6 col-content">

                        </div>
                    </div>

                    <div class="row row-form">
                        <div class="col-xs-4 col-label">
                            本人身份证背面照片
                        </div>
                        <div class="col-xs-6 col-content">

                        </div>
                    </div>

                    <div class="row row-form">
                        <div class="col-xs-4 col-label">
                            手持本人身份证正面照和个人签字
                        </div>
                        <div class="col-xs-6 col-content">

                        </div>
                    </div>

                    <div class="row row-form">
                        <div class="col-xs-4 col-label col-label-edit">
                            认证状态
                        </div>
                        <div class="col-xs-6 col-content">
                            <select name="" class="form-control">
                                <option value=""></option>
                                <option value="">认证通过</option>
                                <option value="">认证失败</option>
                            </select>
                        </div>
                    </div>

                    <div class="row row-form">
                        <div class="col-xs-4 col-label">
                            备注
                        </div>
                        <div class="col-xs-6 col-content">
                            <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>